Repository thexyno/blog: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, gofmt

lefthook.yml:

pre-commit:
  commands:
    nixfmt:
      glob: "*.nix"
      run: nixpkgs-fmt {staged_files} && git add {staged_files}
    gofmt:
      glob: "*.go"
      exclude: ".*qtpl\\.go"
      run: gofmt -s -w {staged_files} && git add {staged_files}

feat: added rss/atom/json feeds
  db/db.go
  feed.go
  flake.nix
  go.mod
  go.sum
  http.go
  sitemap.go
  templates/index.qtpl
  templates/index.qtpl.go
Due: nixfmt, gofmt

gin
  cmd/xynoblog/main.go
  feed.go
  flake.nix
  go.mod
  go.sum
  http.go
  sitemap.go
Due: nixfmt, gofmt

add cobra/viper
  cmd/add.go
  cmd/root.go
  cmd/serve.go
  cmd/xynoblog/main.go
  flake.nix
  go.mod
  go.sum
  main.go
  server/feed.go
  server/http.go
  server/render.go
  server/sitemap.go
Due: nixfmt, gofmt

make flake work
  cmd/root.go
  flake.nix
Due: nixfmt, gofmt

feat: code highlighting
  cmd/add.go
  css/main.css
  db/db.go
  flake.nix
  go.mod
  go.sum
  server/http.go
  server/render.go
  templates/basepage.qtpl
  templates/basepage.qtpl.go
  templates/error.qtpl.go
  templates/index.qtpl.go
  templates/post.qtpl
  templates/post.qtpl.go
  templates/posts.qtpl
  templates/posts.qtpl.go
Due: nixfmt, gofmt

update
  flake.nix
  go.mod
  go.sum
Due: nixfmt

feat: imprint
  data/datenschutz.de.md
  data/impressum.de.md
  data/robots.txt
  db/db.go
  flake.nix
  server/feed.go
  server/http.go
  server/httpLogger.go
  templates/basepage.qtpl
  templates/basepage.qtpl.go
  templates/error.qtpl
  templates/error.qtpl.go
  templates/index.qtpl
  templates/index.qtpl.go
  templates/post.qtpl
  templates/post.qtpl.go
  templates/posts.qtpl
  templates/posts.qtpl.go
  templates/simpleMdPage.qtpl
  templates/simpleMdPage.qtpl.go
Due: nixfmt, gofmt

feat: added nixosModule
  flake.nix
Due: nixfmt

fix compile
  cmd/add.go
  cmd/serve.go
  data/robots.txt
  flake.lock
  flake.nix
  go.mod
  go.sum
  server/http.go
Due: nixfmt, gofmt

fix scrollbar
  templates/basepage.qtpl
  templates/basepage.qtpl.go
Due: none

many fixes
  cmd/add.go
  cmd/root.go
  css/main.css
  data/datenschutz.de.md
  data/favicon.ico
  data/favicon.png
  data/impressum.de.md
  db/db.go
  server/http.go
  server/render.go
Due: gofmt

disable desc
  css/main.css
  data/robots.txt
  flake.nix
  go.mod
  go.sum
  statics/statics.go
  templates/basepage.qtpl
  templates/basepage.qtpl.go
Due: nixfmt, gofmt

no datenschutz for u
  data/datenschutz.de.md
  server/http.go
  templates/basepage.qtpl
Due: gofmt

update address
  data/impressum.de.md
Due: none

fixi fixi
  templates/basepage.qtpl.go
Due: none

flake.lock: Update
  flake.lock
Due: none

flake update
  flake.lock
Due: none

tangent
  css/main.css
  db/db.go
  server/feed.go
  templates/index.qtpl
  templates/index.qtpl.go
Due: gofmt

tangent
  css/main.css
  db/db.go
  server/feed.go
  templates/basepage.qtpl
  templates/basepage.qtpl.go
  templates/index.qtpl
  templates/index.qtpl.go
Due: gofmt

datenschutz
  data/impressum.de.md
Due: none

less caching
  server/http.go
Due: gofmt

update dependencies
  flake.nix
Due: nixfmt

feat: tangent block
  cmd/add.go
  cmd/serve.go
  css/main.css
  flake.nix
  server/http.go
  server/render.go
Due: nixfmt, gofmt

update
  data/impressum.de.md
  flake.nix
Due: nixfmt

box
  css/main.css
  server/render.go
Due: gofmt

feat: caching
  db/db.go
  server/http.go
  server/render.go
Due: gofmt

feat: media management
  .gitignore
  cmd/add.go
  cmd/root.go
  cmd/serve.go
  css/main.css
  db/db.go
  db/query.sql
  db/schema.sql
  dbconn/db.go
  dbconn/models.go
  dbconn/query.sql.go
  flake.nix
  go.mod
  go.sum
  server/feed.go
  server/http.go
  server/sitemap.go
  sqlc.yaml
  templates/index.qtpl
  templates/index.qtpl.go
  templates/posts.qtpl
  templates/posts.qtpl.go
  util/media.go
Due: nixfmt, gofmt

feat: media management
  server/render.go
  util/media.go
Due: gofmt

add suid binary
  flake.nix
Due: nixfmt

arioste
  flake.nix
Due: nixfmt

feat: better css
  css/main.css
  data/impressum.de.md
  flake.nix
Due: nixfmt

fix: template fixes
  data/impressum.de.md
  server/http.go
  server/render.go
  templates/basepage.qtpl
  templates/basepage.qtpl.go
  templates/index.qtpl
  templates/index.qtpl.go
Due: gofmt

feat: cli wrapper
  flake.nix
Due: nixfmt

fix: sitemap id
  server/sitemap.go
Due: gofmt

feat: synced render cache
  server/render.go
Due: gofmt

feat: greybox
  css/main.css
  server/render.go
Due: gofmt

fix script
  flake.nix
Due: nixfmt

feat: twitter deprecated, 404s on 404 pages
  server/http.go
  templates/index.qtpl
  templates/index.qtpl.go
Due: gofmt
