Repository thexyno/blog: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, gofmt

lefthook.yml:

pre-commit:
  commands:
    nixfmt:
      glob: "*.nix"
      run: nixpkgs-fmt {staged_files} && git add {staged_files}
    gofmt:
      glob: "*.go"
      exclude: ".*qtpl\\.go"
      run: gofmt -s -w {staged_files} && git add {staged_files}

imprint changes
  data/impressum.de.md
  flake.lock
  flake.nix
  scripts/b64decode.js
  scripts/b64encode.js
Due: nixfmt

UNSTABLE: move things around
  cmd/root.go
  cmd/serve.go
  flake.nix
  hashFS/hashFS.go
  main.go
  package.json
  server/http.go
  statics/data/favicon.ico
  statics/data/favicon.png
  statics/data/impressum.de.md
  statics/data/robots.txt
  statics/dist/output.css
  statics/statics.go
  templates/basepage.qtpl
  templates/basepage.qtpl.go
  xynoblog.yaml
Due: nixfmt, gofmt

flake.lock: Update
  flake.lock
Due: none

parcel
  .gitignore
  .parcelrc
  .postcssrc
  flake.nix
  hashFS/hashFS.go
  package.json
  parcel-namer-split/package.json
  parcel-namer-split/src/index.js
  parcel-resolver-qtpl/package.json
  parcel-resolver-qtpl/src/index.js
  parcel-transformer-donothing/package.json
  parcel-transformer-donothing/src/index.js
  server/http.go
  statics/statics.go
  tailwind.config.js
  templates/basepage.qtpl.go
  templates/error.qtpl.go
  templates/index.qtpl.go
  templates/post.qtpl.go
  templates/posts.qtpl.go
  templates/simpleMdPage.qtpl.go
  tmplsrc/basepage.qtpl
  tmplsrc/error.qtpl
  tmplsrc/index.qtpl
  tmplsrc/main.css
  tmplsrc/post.qtpl
  tmplsrc/posts.qtpl
  tmplsrc/simpleMdPage.qtpl
  yarn.lock
Due: nixfmt, gofmt

parcel packaging
  package.json
  packages/parcel-namer-split/package.json
  packages/parcel-namer-split/src/index.js
  packages/parcel-resolver-qtpl/package.json
  packages/parcel-resolver-qtpl/src/index.js
  packages/parcel-transformer-donothing/package.json
  packages/parcel-transformer-donothing/src/index.js
Due: none

fixups
  flake.nix
  package.json
Due: nixfmt

design modifications
  flake.lock
  flake.nix
  go.mod
  go.sum
  package.json
  server/http.go
  tmplsrc/basepage.qtpl
Due: nixfmt, gofmt

a
  flake.nix
Due: nixfmt

chore: try fix nixos build
  .gitignore
  flake.nix
  templates/templates.go
Due: nixfmt, gofmt

a
  flake.nix
  server/http.go
  templates/templates.go
Due: nixfmt, gofmt

a
  tmplsrc/basepage.qtpl
Due: none

a
  templates/templates.go
Due: gofmt

a
  .gitignore
  flake.nix
  server/http.go
  templates/basepage.qtpl
  templates/basepage.qtpl.go
  templates/error.qtpl
  templates/error.qtpl.go
  templates/index.qtpl
  templates/index.qtpl.go
  templates/post.qtpl
  templates/post.qtpl.go
  templates/posts.qtpl
  templates/posts.qtpl.go
  templates/simpleMdPage.qtpl
  templates/simpleMdPage.qtpl.go
  templates/templates.go
Due: nixfmt, gofmt

a
  .gitignore
  flake.nix
  templates/basepage.qtpl
  templates/basepage.qtpl.go
  templates/error.qtpl
  templates/error.qtpl.go
  templates/index.qtpl
  templates/index.qtpl.go
  templates/post.qtpl
  templates/post.qtpl.go
  templates/posts.qtpl
  templates/posts.qtpl.go
  templates/simpleMdPage.qtpl
  templates/simpleMdPage.qtpl.go
Due: nixfmt

fix
  flake.nix
Due: nixfmt

title updates
  tmplsrc/index.qtpl
Due: none

fixi fixi
  tmplsrc/basepage.qtpl
Due: none

refactoring plugins, updating
  .gitignore
  .parcelrc
  .postcssrc
  flake.nix
  go.mod
  go.sum
  package.json
  packages/parcel-namer-split/src/index.js
  packages/parcel-resolver-qtpl/src/index.js
  packages/parcel-transformer-donothing/package.json
  packages/parcel-transformer-donothing/src/index.js
  statics/dist/output.css
  tailwind.config.js
  tmplsrc/basepage.qtpl
  tmplsrc/index.qtpl
  tmplsrc/main.css
  yarn.lock
Due: nixfmt

feat: new light theme
  .postcssrc
  tailwind.config.js
  tmplsrc/main.css
Due: none

fix theme
  tmplsrc/main.css
Due: none

fix: everything is italic
  tailwind.config.js
  tmplsrc/main.css
Due: none

feat: links are now target blank
  server/render.go
Due: gofmt

feat: better tangent rendering
  package.json
  server/render.go
  tailwind.config.js
  tmplsrc/box.qtpl
  tmplsrc/greybox.qtpl
  tmplsrc/main.css
  tmplsrc/tangent.qtpl
Due: gofmt

feat: new font and many other changes
  cmd/publish.go
  cmd/seed.go
  db/db.go
  db/migrations/1_initial.sql
  db/migrations/2_draft.sql
  db/migrations/3_constraints.sql
  db/query.sql
  dbconfig.yml
  dbconn/db.go
  dbconn/models.go
  dbconn/query.sql.go
  flake.nix
  go.mod
  go.sum
  package.json
  server/feed.go
  server/http.go
  server/render.go
  sqlc.yaml
  statics/statics.go
  tailwind.config.js
  tmplsrc/basepage.qtpl
  tmplsrc/box.qtpl
  tmplsrc/greybox.qtpl
  tmplsrc/main.css
  tmplsrc/post.qtpl
  tmplsrc/tag.qtpl
  tmplsrc/tangent.qtpl
  yarn.lock
Due: nixfmt, gofmt

changes
  statics/data/impressum.de.md
Due: none
